.navigation-menu__show-catalog
{
    font: 
    {
        family: 'Gilroy ExtraBold', Gilroy, sans-serif;
        size: 18px;
    }
    line-height: 24px;

    position: relative;

    padding-right: 30px;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #000;

    &::after
    {
        position: absolute;
        top: 3px;
        right: 0;

        width: 16px;
        height: 16px;

        content: '';

        background-image: url('./navigation-menu/__show-catalog/plus.svg');
        background-repeat: no-repeat;
    }
}
