@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy ExtraBold"),
       url("/fonts/gilroyextrabold.woff2") format("woff2"),
       url("/fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy Light"),
       url("/fonts/gilroylight.woff2") format("woff2"),
       url("/fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"),
       url("/fonts/opensans.woff2") format("woff2"),
       url("/fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),
       url("/fonts/opensanslight.woff2") format("woff2"),
       url("/fonts/opensanslight.woff") format("woff");
}

body {
  font-family: "Open Sans Light", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  word-break: break-word;

  background-color: #F2F2F2;
}

.visually-hidden:not(:focus):not(:active), 
input[type="checkbox"].visually-hidden, 
input[type="radio"].visually-hidden {
  position:         absolute;

  width:          1px;
  height:         1px;
  margin:         -1px;
  border:         0;
  padding:        0;

  white-space:      nowrap;
  clip-path:        inset(100%);
  clip:           rect(0 0 0 0);
  overflow:         hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.container {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
}

header.container {
  margin-top: 40px;
}

header {
  position: relative;
  min-height: 300px;
  padding: 50px 60px;

  background-color: #F9EA80;
}

.main-header-logo {
  position: absolute;
  top: -20px;
  left: 60px;

  background-color: #000000;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.5;
}

.main-header-logo:active {
  opacity: 0.2;
}

.main-header-wrapper1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.main-header-wrapper1 input[type="search"] {
  position: relative;
  box-sizing: border-box;
  height: 50px;
  width: 355px;
  padding-left: 40px;

  font: inherit;

  background-color: transparent;
  background: url("../img/svg/search.svg") no-repeat left center;
  outline: none;

  opacity: 0.5;
}

.main-header-wrapper1 input[type="search"]:hover {
opacity: 0.8;
}

.main-header-wrapper1 input[type="search"]:focus {
border-bottom: 2px #000000 solid;
opacity: 1;
}

.main-header-wrapper1 input[type="search"]:focus + .search-button {
  color: #000000;

  background-color: transparent;
  border: 2px #000000 solid;

  opacity: 1;
}

.search-button {
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  width: 85px;
  height: 50px;
  margin-right: 100px;

  cursor: pointer;

  opacity: 0;
}

.search-button:hover,
.search-button:focus {
  color: #FFFFFF;

  background-color: #000000;

  opacity: 1;
}

.search-button:active {
  color: #FFFFFF;

  background-color: #000000;

  opacity: 0.5;
}

.main-header-list-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.login-link,
.diff-link,
.basket-link {
  position: relative;
  padding-left: 25px;

  color: #000000;
  font: inherit;
}

.login-link::before,
.diff-link::before,
.basket-link::before {
  content: "";

  position: absolute;
  left: 0;
  top: 5px;
  width: 13px;
  height: 12px;
}

.login-link::before {
  background: url("../img/svg/user.svg") no-repeat left center;
}

.diff-link::before {
  background: url("../img/svg/compare.svg") no-repeat left center;
}

.basket-link::before {
  background: url("../img/svg/cart.svg") no-repeat left center;
}

.login-link:hover,
.login-link:focus,
.diff-link:hover,
.diff-link:focus,
.basket-link:hover,
.basket-link:focus {
  opacity: 0.5;
}

.login-link:active,
.diff-link:active,
.basket-link:active {
  opacity: 0.2;
}

.main-header-list-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 220px;
  margin-left: auto;

  list-style: none;
}

.main-header-list-buy li:not(:last-child) {
  margin-right: 30px;
}

.main-header-wrapper2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header-catalog,
.delivery-guarantee-list a,
.contacts-list a {
  font-family: "Gilroy ExtraBold", Gilroy, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;
}

.main-header-catalog {
  position: relative;
  padding-right: 30px;
}

.main-header-catalog::after {
  content: "";

  position: absolute;
  top: 3px;
  right: 0;

  width: 16px;
  height: 16px;

  
  background-image: url("../img/svg/plus.svg");
  background-repeat: no-repeat;
}

.main-header-catalog-button::before {
  transform: rotate(90deg);
}

.main-header-catalog, 
.main-header-catalog-button {
  cursor: pointer;
}

.delivery-guarantee-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 290px;

  list-style: none;
}

.delivery-guarantee-list li:not(:last-child){
  margin-right: 30px;
}

.contacts-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;

  list-style: none;
}

.main-header-catalog:hover, 
.main-header-catalog:focus, 
.delivery-guarantee-list a:hover, 
.delivery-guarantee-list a:focus,
.contacts-list a:hover,
.contacts-list a:focus {
  opacity: 0.5;
}

.main-header-catalog:active,
.delivery-guarantee-list a:active,
.contacts-list a:active {
  opacity: 0.2;
}

.header-catalog-menu {
  position: relative;
  margin-top: -160px;
  height: 160px;
  padding-left: 60px;
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #F7E296;
  z-index: 1;
}

.header-catalog-menu-show {
  display: flex;
}

.header-catalog-menu-list-first, 
.header-catalog-menu-list-second,
.header-catalog-menu-list-third {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.header-catalog-menu-list-first li, 
.header-catalog-menu-list-second li,
.header-catalog-menu-list-third li {
  width: 220px;
  max-width: 220px;
}

.header-catalog-menu-list-first a, 
.header-catalog-menu-list-second a,
.header-catalog-menu-list-third a {
  font: inherit;
  line-height: 36px;
  color: #000000;
}

.header-catalog-menu-list-first a:hover, 
.header-catalog-menu-list-first a:focus, 
.header-catalog-menu-list-second a:hover, 
.header-catalog-menu-list-second a:focus, 
.header-catalog-menu-list-third a:hover, 
.header-catalog-menu-list-third a:focus {
  opacity: 0.5;
}

.header-catalog-menu-list-first a:active, 
.header-catalog-menu-list-second a:active, 
.header-catalog-menu-list-third a:active{
  opacity: 0.2;
}

.slide1.container,
.slide2.container,
.slide3.container {
  padding: 0 60px;
}

.slide1 {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -150px;

  background-color: transparent;
}

.slide2 {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -150px;

  background-color: transparent;
}

.slide3 {
  position: relative;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -150px;

  background-color: transparent;
}

.slide-show {
  display: flex;
}

.slide-photo {
  flex-grow: 0;
  flex-shrink: 1;
}

.slide-right {
  width: 500px;
}

.slide-right-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 180px;
  line-height: 180px;
  letter-spacing: 0.36px;
  color: #FFFFFF;
}

.slide-right-counter::before {
  content: "";

  width: 100px;
  height: 8px;

  background-color: #FFFFFF;
}

.slide-right h2 {
  margin-top: -65px;
  margin-bottom: 20px;

  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 47px;
  line-height: 56px;
  letter-spacing: mixed;
}

.slide-block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 155px;

  list-style: none;
}

.slide-block-container li:not(:last-child) {
  margin-right: 80px;
}

.slide-block-container li {
  max-width: 160px;
}

.slide-block-container {
  font-family: "Open Sans Light", "Open Sans", "sans-serif";
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

p.slide-block-container-heading {
  margin-bottom: 5px;
  font-family: "Gilroy Light", "Gilroy", "sans-serif";
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
}

.slide-right-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: -165px;
  margin-bottom: 55px;
  padding-right: 60px;
  width: 500px;
  height: 40px;
  margin-left: 695px;
}

.slide-right-container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;
  background-image: url("../img/background/yellow1.png");
  background-repeat: no-repeat;
  background-position: 0 16px;
}

.slide-right-container-button:hover,
.slide-right-container-button:focus {
  background-image: url(../img/background/yellow2.png);
  background-position: 0 0;
}

.slide-right-container h3:active {
  opacity: 0.5;
}

.slide-right-container h3 {
  position: absolute;
  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}


.slide-right-radio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100px;

  list-style: none;
}

.radio-indicator-label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.radio-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radio-indicator-label input[name="slider-radio"] + .radio-indicator {
  position: absolute;
  top: center;
  left: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px black solid;
}

.radio-indicator-label input[name="slider-radio"]:checked + .radio-indicator::after {
  content: "";
  position: absolute;
  top: center;
  left: center;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px black solid;
}

.main-catalog {
  margin-top: 100px;
  margin-bottom: 170px;
}

.main-catalog a {
  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

.main-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1160px;

  list-style: none;
}

.main-catalog-list li {
  max-width: 160px;
  min-height: 240px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.main-catalog-list li:nth-child(6n) {
  margin-right: 0;
}

.main-catalog-list a:hover .main-catalog-list-item, 
.main-catalog-list a:focus .main-catalog-list-item {
  background-color: #F0C52E;
}

.main-catalog-list a:active .main-catalog-list-item {
  background-color: #F0C52E;
}

.main-catalog-list a:active {
  opacity: 0.5;
}

.main-catalog-list-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 20px;
  background-color: #F8EBAA;
}

.delivery-guarantee-credit-background {
  height: 288px;
  background-color: #E5E5E5;
}

.delivery-guarantee-credit-container1, 
.delivery-guarantee-credit-container2, 
.delivery-guarantee-credit-container3 {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 760px;
  position: absolute;
  margin-top: -320px;
  margin-left: 460px;
}

.slide1-show {
  display: flex;
}

.delivery-guarantee-credit-center {
  width: 460px;
  height: 195px;
}

.delivery-guarantee-credit-center h3 {
  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  margin-bottom: 25px;
}

.delivery-guarantee-credit-right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 200px;
  height: 195px;
}





.delivery-guarantee-credit-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 285px;
  height: 320px;
  position: absolute;
  margin-top: -390px;
  margin-left: 54px;
}

.delivery-guarantee-credit-navigation {
  list-style: none;
  width: 277px;
  font-family: "Gilroy ExtraBold", "Gilroy", "sans-serif";
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.delivery-guarantee-credit-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 160px;
  padding-right: 117px;
  color: #000000;
  background: url(../img/background/yellow3.png) no-repeat 0 16px;
}

.delivery-guarantee-credit-navigation a:hover {
  background: url(../img/background/yellow4.png) no-repeat 0 0;
}

.delivery-guarantee-credit-navigation a:active,
.delivery-guarantee-credit-navigation a:focus {
  background: url(../img/background/black.png) no-repeat 0 0;
  color: #F7E184;
}

.delivery-guarantee-credit-navigation li:not(:last-child) {
  margin-bottom: 20px;
}

.delivery-guarantee-credit-navigation-right {
  width: 8px;
  height: 100%;
  background-color: #000000;
}