.catalog-top-list__item
{
    position: relative;

    display: flex;

    margin-bottom: 10px;

    align-items: center;

    &:not(:last-child)
    {
        margin-right: 20px;
        padding-right: 20px;

        &::after
        {
            position: absolute;
            right: 0;

            width: 5px;
            height: 8px;

            content: '';

            background: url('./catalog-top-navigation/catalog-top-list/__item/arrow.svg') no-repeat right center;
        }
    }
}
