.catalog-top-navigation__heading {
  margin-bottom:  25px;

  font: {
    family:       "Gilroy ExtraBold", "Gilroy", sans-serif;
    size:         47px;
  }
  line-height:    48px;
  letter-spacing: 0.21px;
}
