.modal-close {
  position:           absolute;
  top:                22px;
  right:              22px;

  display:            flex;
  justify-content:    center;
  align-items:        center;
  width:              55px;
  height:             55px;
  border-radius:      50%;

  background-color:   #DFC97E;
  cursor:             pointer;
  box-shadow:         0 0 10px rgba(0, 0, 0, 1.0);

  &::before {
    content:          "";

    position:         absolute;

    width:            40px;
    height:           4px;

    background-color: #CDCDCD;

    transform:        rotate(45deg);
  }

  &::after {
    content:          "";

    position:         absolute;

    width:            40px;
    height:           4px;

    background-color: #CDCDCD;

    transform:        rotate(-45deg);
  }
}
