.modal-close
{
    position: absolute;
    top: 22px;
    right: 22px;

    display: flex;

    width: 55px;
    height: 55px;

    cursor: pointer;

    border-radius: 50%;
    background-color: #dfc97e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);

    justify-content: center;
    align-items: center;

    &::before
    {
        position: absolute;

        width: 40px;
        height: 4px;

        content: '';
        transform: rotate(45deg);

        background-color: #cdcdcd;
    }

    &::after
    {
        position: absolute;

        width: 40px;
        height: 4px;

        content: '';
        transform: rotate(-45deg);

        background-color: #cdcdcd;
    }
}
