.catalog-top-list__link
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 14px;
    }
    line-height: 24px;

    letter-spacing: .01em;

    opacity: .3;
    color: #000;
}
