.content-filter__header
{
    font: 
    {
        family: 'Gilroy ExtraBold', Gilroy, sans-serif;
        size: 16px;
    }
    line-height: 24px;

    margin: 0;

    letter-spacing: .2em;
    text-transform: uppercase;
}
