.login-buy-list__link
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 15px;
    }
    line-height: 30px;

    position: relative;

    display: flex;

    padding-left: 25px;

    letter-spacing: .01em;

    color: #000;

    align-items: center;
}
