.index-header {
  position:         relative;
  min-height:       300px;
  padding:          50px 60px;
  margin-top:       40px;

  background-color: #F9EA80;

  &-logo {
    position:         absolute;
    top:              -17px;
    left:             60px;
  }

  &-delivery-guarantee-list {
    max-width: 280px;
  }

  &-contacts-list {
    max-width: 210px;
  }

  &-wrapper1 {
    display:          flex;
    flex-wrap:        nowrap;
    align-items:      center;
    margin-top:       -10px;
    margin-bottom:    25px;
  }

  &-left {
    width:            540px;
    box-sizing:       border-box;
  }

  &-list-buy {
    max-width:       210px;
    margin:          0;
    padding:         0;
    margin-left:     auto;
  }

  &-list-login {
    max-width:      280px;
    margin:         0;
    padding:        0;
  }

  &-catalog {
    .wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    .wrapper2 {
      display: none;
      flex-wrap: nowrap;
    }
  }
}
