.catalog-list__img-container
{
    display: flex;

    width: 160px;
    height: 160px;
    margin-bottom: 30px;

    background-color: rgba(240, 197, 46, .5);

    justify-content: center;
    align-items: center;
}
