@import url("_hover/search__input_hover.css");
@import url("_focus/search__input_focus.css");

.search__input {
  box-sizing: border-box;
  height: 50px;
  width: 355px;
  padding-left: 40px;

  background-color: transparent;
  background: url("search.svg") no-repeat left center;
  outline: none;

  opacity: 0.5;
}