.navigation-menu__link {
  font: {
    family:       "Gilroy ExtraBold", Gilroy, sans-serif;
    size:         18px;
  }
  line-height:    24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color:          #000000;
}
