.hover-links__link
{
    font:
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 13px;
    };
    line-height: 36px;

    letter-spacing: .01em;

    color: rgba(0, 0, 0, 0.5);
}
