.login-buy-list__link_compare::before
{
    position: absolute;
    left: 0;

    width: 13px;
    height: 12px;

    content: '';

    background: url('./login-buy-list/__link/_compare/compare.svg') no-repeat left center;
}
