.slider__parametres-name
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 13px;
    };
    line-height: 20px;

    width: 160px;

    letter-spacing: .01em;
}
