.content-filter__subtitle
{
    font: 
    {
        family: 'Gilroy ExtraBold', Gilroy, sans-serif;
        size: 18px;
    }
    line-height: 24px;

    position: relative;

    padding-top: 15px;

    letter-spacing: .01em;
}
