.navigation-menu__item {
  &:first-child:hover .catalog-menu {
    display:    flex;
  }

  &:last-child {
    margin-left: auto;
  }

  &:not(:first-child):not(:last-child) {
    margin-right: 40px;
  }
}
