.company-list__item
{
    position: relative;

    display: flex;

    padding-left: 10px;

    align-items: center;

    &::before
    {
        position: absolute;
        left: 0;

        width: 8px;
        height: 8px;

        content: '';

        background: url('./about-n-contacts/company-list/__item/oval.svg') no-repeat left center;
    }
}
