.navigation-menu-sublist__link
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 15px;
    }
    line-height: 36px;

    letter-spacing: .01em;

    color: #000;
}
