@import url("__item/list-buy__item.css");

.list-buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0;
  width: 220px;

  font-family: "Open Sans Light", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  word-break: break-word;

  list-style: none;
}

.list-buy li:not(:last-child) {
  margin-right: 30px;
}