.modal-map
{
    position: fixed;
    top: 25px;
    right: 195px;
    bottom: 25px;
    left: 195px;

    display: none;

    background-color: #cdcdcd;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1.0);
}
