.content-filter-list__link {
  font: {
    family:       "Open Sans Regular", "Open Sans", sans-serif;
    size:         14px;
  }
  line-height:    18px;
  letter-spacing: 0;

  color:          #000000;

  opacity:        0.3;
}
