.show-catalog {
  position: relative;
  padding-right: 30px;

  font: {
    family: "Gilroy ExtraBold", Gilroy, sans-serif;
    size: 18px;
  }
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";

    position: absolute;
    top: 3px;
    right: 0;

    width: 16px;
    height: 16px;

    background-image: url("./show-catalog/plus.svg");
    background-repeat: no-repeat;
  }
}
