.search__input
{
    box-sizing: border-box;
    width: 355px;
    height: 50px;
    padding-left: 40px;

    opacity: .5;
    border: 0;
    outline: none;
    background: url('./search/__input/search.svg') no-repeat left center;
    background-color: transparent;
}
