.slider__radio {
  position:        absolute;
  bottom:          190px;
  right:           70px;

  display:         flex;
  flex-wrap:       wrap;
  justify-content: space-around;
  align-items:     center;
  width:           100px;

  list-style:      none;
}
