.login-buy-list__link_login::before
{
    position: absolute;
    left: 0;

    width: 13px;
    height: 12px;

    content: '';

    background: url('./login-buy-list/__link/_login/user.svg') no-repeat left center;
}
