.slider__title
{
    font: 
    {
        family: 'Gilroy ExtraBold', Gilroy, sans-serif;
        size: 47px;
    };
    line-height: 56px;

    position: relative;

    margin: -60px 0 -10px 0;

    letter-spacing: .01em;
}
