.list-buy__link_compare::before {
  content:    "";

  position:   absolute;
  left:       0;
  width:      13px;
  height:     12px;

  background: url("./list-buy/__link/_compare/_before/compare.svg") no-repeat left center;
}
