.index-header {
  position: relative;
  min-height: 300px;
  padding: 50px 60px;
  margin-top: 40px;

  background-color: #F9EA80;
}

.index-header-logo {
  position: absolute;
  top: -17px;
  left: 60px;
}

.index-header-wrapper1 {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -10px;
}

.index-header-left {
  width: 540px;
  box-sizing: border-box;
}

.index-header-list-buy {
  margin-left: auto;
}