.index-footer
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 15px;
    }
    line-height: 30px;

    box-sizing: border-box;
    min-height: 320px;

    background-color: #464646;

    & p
    {
        color: #fff;
    }
}
