.index-header {
  position:         relative;

  min-height:       300px;
  width:            1160px;
  padding:          50px 60px;
  margin:           40px auto 0;
  box-sizing:       border-box;

  background-color: #F9EA80;
}
