@import url("__button/search__button.css");
@import url("__input/search__input.css");

.search {
  display: flex;
  flex-shrink: 0;
  
  font-family: "Open Sans Light", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  word-break: break-word;
  color: #000000;
}