.catalog-top-navigation__heading
{
    font: 
    {
        family: 'Gilroy ExtraBold', 'Gilroy', sans-serif;
        size: 47px;
    }
    line-height: 48px;

    margin-bottom: 25px;

    letter-spacing: .21px;
}
