.login-buy-list__link_cart::before {
  content:    "";

  position:   absolute;
  left:       0;
  width:      13px;
  height:     12px;

  background: url("./login-buy-list/__link/_cart/_before/cart.svg") no-repeat left center;
}
