.list-buy__item_cart::before {
  content:    "";

  position:   absolute;
  left:       0;
  width:      13px;
  height:     12px;

  background: url("./list-buy/__item/_cart/cart.svg") no-repeat left center;
}
