.delivery-guarantee-list {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: flex-start;
  margin:          0;
  padding:         0;

  list-style:      none;

  li:not(:last-child){
    margin-right:  40px;
  }

  li {
    margin-bottom: 10px;
  }
}
