.modal-writeus__input
{
    font: 
    {
        family: 'Open Sans Regular', 'Open Sans', sans-serif;
        size: 14px;
    }
    line-height: 18px;

    display: block;

    box-sizing: border-box;
    width: 360px;
    height: 50px;
    padding: 10px 20px;

    color: #464646;
    border: none;
    background-color: #d9d9d9;
}
