.company-list__item::before {
  content: "";

  position:   absolute;
  left:       0;

  width:      8px;
  height:     8px;

  background: url("./about-n-contacts/company-list/__item/_before/oval.svg") no-repeat left center;
}
