.about-n-contacts {
  display:         flex;

  font: {
    family:        "Open Sans Light", "Open Sans", sans-serif;
    size:          15px;
  }
  line-height:     30px;

  & p {
    margin-bottom: 25px;
  }
}
