.navigation-menu__show-catalog::after {
  content: "";

  position: absolute;
  top: 3px;
  right: 0;

  width: 16px;
  height: 16px;

  background-image: url("./navigation-menu/__show-catalog/_after/plus.svg");
  background-repeat: no-repeat;
}
