.range-price__input
{
    font:
    {
        family: 'Gilroy Light', Gilroy, sans-serif;
        size: 14px;
    };
    line-height: 24px;

    width: 50px;

    color: rgba(0, 0, 0, .2);
    border: none;
    background-color: transparent;
}
