.index-body {
  width: 1160px;
  margin: 0 auto;

  font-family: "Open Sans Light", "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  word-break: break-word;

  background-color: #FFFFFF;
}