.heading
{
    font: 
    {
        family: 'Gilroy ExtraBold', Gilroy, sans-serif;
        size: 47px;
    }
    line-height: 48px;

    position: relative;

    letter-spacing: .21px;

    &::before
    {
        position: absolute;
        top: 0;

        width: 80px;
        height: 7px;

        content: '';

        background-color: #000;
    }
}
