.content-filter__header {
  margin:     0;

  font: {
    family:       "Gilroy ExtraBold", Gilroy, sans-serif;
    size:         16px;
  }
  line-height:    24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
