.search
{
    font: 
    {
        family: 'Open Sans Light', 'Open Sans', sans-serif;
        size: 15px;
    };
    line-height: 30px;

    display: flex;

    letter-spacing: .01em;

    color: #000;

    flex-shrink: 0;
}
